<h1><%= @article.title %></h1>
<p>
	Tags:
	<% @article.tags.each do |tag| %>
		<%= link_to tag, tag_path(tag) %>
	<% end %>
</p>
<p>
  <% if @article.image.exists? %>
      <%= image_tag @article.image.url %>
  <% end %>
</p>
<p><%= @article.body %></p>
<hr/>
<p><%= link_to 'Edit This Article', edit_article_path(@article) %></p>
<p><%= link_to 'Delete This Article', article_path(@article), method: :delete, data: { confirm: 'Are you sure!?' } %></p>
<%= render partial: 'comments/form' %>
<p><%= link_to 'Back', articles_path %></p>

<h3>Comments (<%= @article.comments.count %>)</h3>
<%= render partial: 'comment', collection: @article.comments %>